<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <title>About</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar">
            <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="/">Akmaljon's Blog</a></div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="/">Home</a></div>
                <div><a href="/blog">Blog</a></div>
<!--                <div><a href="#">Channel</a></div>-->
            </div>
        </div>
        <div class="row aboutme">
            <div class="col-12">
                <h1>About me</h1>
            </div>
        </div>
        <div class="row main">
            <div class="col-12">
                <p>Hello World! I am Akmaljon Yoqubov, a 22-year-old <b>Backend Developer</b> from Fergana, Uzbekistan.
                <br>
                <br>
                My stack is as follows: <br> <br>
                    ✅ Python <br>
                    ✅ Django <br>
                    ✅ Django Rest Framework <br>
                    ✅ Algorithms & data structures <br>
                    ✅ SQLite <br>
                    ✅ Postgresql <br>
                    ✅ RESTful API's <br>
                    ✅ Leetcode</p>
                    <img src="" alt="">
                    <h5>FBTUIT</h5>
                    <p>I’m studying at Fergana Branch of Tashkent University of Informational Technologies. My specialty is Software Engineering. I’m third year student at my university.</p>
            </div>
        </div>
        <div class="footer">
            <p>© 2023</p>
        </div>
    </div>
</body>
</html>